@import url("../assets/jetbrains-mono-v18-latin_latin-ext/include.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

body {
  @apply text-neutral-300 bg-gray-800
}

h1 {
  @apply my-8 text-2xl text-neutral-200
}

h2 {
  @apply mt-8 mb-2 text-xl text-teal-200
}

h3 {
  @apply mt-6 mb-2 text-lg text-teal-200
}

h4 {
  @apply mt-4 mb-2 text-base text-teal-200
}

ul {
  @apply pl-6
}

li {
  @apply list-disc
}

a {
  @apply text-teal-600 underline hover:text-teal-800
}

img, video {
  @apply my-4 mx-auto max-w-md
}

p {
  @apply my-2
}

blockquote {
  @apply my-8 mx-8 p-4 bg-gray-800 rounded
}

.header-wrapper {
  @apply fixed top-0 left-0 right-0 bg-gray-700 text-slate-300 border-b border-gray-500
}

.header-container {
  @apply container mx-auto place-content-center
}

.header-container a {
  @apply inline-block py-4 px-4 text-inherit no-underline hover:bg-gray-900
}

.header-container a:first-child {
  @apply mr-16
}

code {
  @apply px-1 border text-slate-500 border-slate-600 bg-slate-800 rounded
}

pre code {
  @apply block px-4 py-4 my-8 rounded-md overflow-auto
}

.content-wrapper {
  @apply pt-20 pb-20 bg-gray-900
}

.content-container {
  @apply container mx-auto
}

.footer-wrapper {
  @apply pt-10 pb-20 border-t border-gray-500
}

.footer-container {
  @apply container mx-auto grid grid-cols-1 md:grid-cols-4 md:gap-4 text-sm
}

.footer-container div:first-child {
  @apply col-span-2
}

.footer-container div > a {
  @apply block my-2
}

.footer-container a img {
  @apply inline-block my-0 ml-0 mr-2;
  height: 1rem;
}
