<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    {{#if page.data.title }}
      {{ page.data.title }} -
    {{/if}}
    {{ root.data.site.title }}
  </title>
  {{#if page.data.description}}
    <meta name="description" content="{{page.data.description}}">
  {{/if}}
  {{#if page.data.keywords}}
    <meta name="keywords" content="{{#each page.data.keywords as |keyword|}}{{keyword}},{{/each}}">
  {{/if}}
  {{#if (recursiveData page.parent 'keywords')}}
    <meta name="keywords" content="{{#each (recursiveData page.parent 'keywords') as |keyword|}}{{keyword}},{{/each}}">
  {{/if}}

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{relativeUrl '/style/main.css'}}">
  <base href="{{relativeUrl page.parent.path }}/">
</head>
<body>

<div class="header-wrapper">
  <div class="header-container">
    <a href="/">JStatic</a>
    <a href="/docs/">Docs</a>
    <a href="/javadocs/" target="_blank">Javadocs</a>
  </div>
</div>

<div class="content-wrapper">
  <div class="content-container">
    {{> @partial-block }}
  </div>
</div>

{{> partials/footer }}

{{#if root.data.production}}
  {{> partials/analytics }}
{{/if}}
</body>
</html>
