{{!
    here you can use page.data.component which is containing the OpenApi's component to define a Java class
    you can see some of helpers that are already defined in src/test/resources/open-api-tests/templates/helpers.js
    to get ideas of how things can be accessed out of the data tree
 }}

// parameter
package com.example.openapi.api_one.parameters;

{{> default }}
