<div class="row">
    <div class="col-12">
        طراحی و پیاده‌سازی از
        <a href="https://nashr.io">نشرآی‌آو</a>
        &nbsp;&#183;&nbsp;
        کلیه حقوق برای صاحبان اثر محفوظ می باشد.
    </div>
</div>
