<div class="footer-wrapper">
  <div class="footer-container">
    <div>
      <h4>{{root.data.site.title}}</h4>
      <p>{{root.data.site.description}}</p>
      <p>Copyright &copy; 2023 <a href="https://naghavi.me">Mohammad Naghavi</a></p>
    </div>

    <div>
      <h4>Documentation</h4>
      {{#each root.subNodes.docs.pages as |page|}}
        <a href="{{page.path}}.html">{{page.data.title}}</a>
      {{/each}}
    </div>

    <div>
      <h4>Links</h4>
      <a href="https://gitlab.com/mohamnag/jstatic/" target="_blank">
        <img src="/assets/gitlab-logo-sm@2x.png"/>Source Code
      </a>
      <a href="/javadocs/" target="_blank">
        <img src="/assets/java-logo-sm@2x.png"/>Javadocs
      </a>
    </div>
  </div>
</div>
