{{page.name}}

<h2>{{page.data.title}}</h2>

url="{{relativeUrl '/some/path'}}"
pagePath="{{page.path}}"
pageParentPath="{{page.parent.path}}"

somekey="{{node.data.somekey}}"

rootkey="{{root.data.rootkey}}"

{{{page.data.body}}}

{{#if root.data.isProduction}}this was a production run{{/if}}

blog template
