{{page.name}}

<h1>{{page.data.title}}</h1>

date: {{page.data.date}}
page path="{{page.path}}"
node path="{{page.parent.path}}"

url="{{relativeUrl '/some/path'}}"

!!{{jsHelper}}!!

removeProtocol="{{removeProtocol 'https://some.web/site'}}"

removeString="{{removeString 'some.string to remove' 'some.'}}"

cPngAdd="{{ root.subNodes.some.subNodes.sub.subNodes.dir.data.assets.[c.png] }}"

default template

{{#if page.data.story}}
  <!--story-->
  {{#if page.data.story.content._editable}}
    <script src="//app.storyblok.com/f/storyblok-latest.js" type="text/javascript"></script>
  {{/if}}

  {{ page.data.story.id }}
  {{ page.data.story.name }}
  {{{ page.data.story.content._editable }}}
  {{ page.data.story.content.component }}

  {{#each page.data.story.content.body}}
    {{{_editable}}}
    headline: {{headline}}
    columns.0.name: {{columns.0.name}}
    {{component}}
  {{/each}}
  <!--story-->
{{/if}}
